{% extends 'wiki/base.html' %}

{% block content %}
{% if request.user.is_superuser %}
<div>
        <form action = "{% url 'wiki:home' %}" method = "POST">
            {% csrf_token%}
            <input class="io" id="update" type="submit" name="update"  value="Обновить БД"/>
        </form>
    </div>
{% endif %}
{% include 'wiki/pagination.html' %}

 <div>
        {% for article in articles %}
                <p style="font-size:33px;text-align:center;"><a href="{{article.url}}" style="text-decoration:none;">
                    {{ article.title }}</a></p>
                <div style="width:650px;
                margin-left: auto;
                margin-right: auto;
                text-align:center;">
                {{ article.summary |truncatewords:50 }}</div>
                <img src="{{ article.image_link }}" style="display: block;
                margin-left: auto;
                margin-right: auto;
                width:25%">
        {% endfor %}
{% include 'wiki/pagination.html' %}
 </div>
{% endblock %}