{% extends 'news/base.html' %}

{% block content %}

    <nav style="margin-bottom:20px;">
        {% for cat in cats %}
            <a href="{{ cat.get_absolute_url }}" style="font-size:17px; margin-right:5px;"> {{ cat }}</a>
        {% endfor %}
        {% if request.user.is_authenticated  %}
            <a href="{% url 'logout' %}" style="font-size:17px;float:right;margin-right:77px;">logout</a>
        {% else  %}
        <a href="{% url 'register' %}" style="font-size:17px;float:right;margin-right:77px;">sign up</a>
        <a href="{% url 'authorization' %}" style="font-size:17px;float:right;margin-right:30px;">sign in</a>
        {% endif %}
    </nav>    

    <form action="{% url 'search' %}" method="get">
        {% csrf_token %}
        {% for f in form %}
            {{f}}
        {% endfor %}
        <button type="submit">Search</button>
        <div style="float:right; margin-right:77px;font-size:17px;">
            {% for curr in currency %}
                {{curr}}: {{curr.price}} RUB<br>
            {% endfor %}
        </div>
    </form>

    {% if request.user.is_superuser %}
    <div style="float:right;margin-top:60px;margin-right:-100px;">
        <form action = "{% url 'home' %}" method = "POST">
            {% csrf_token%}
            <input class="io" id="update" type="submit" name="update"  value="Обновить БД"/>
        </form>
        
    </div>
    {% endif %}
    <br>
    <a href="{% url 'wiki:home' %}" style=
    "float:right;
    font-size:17px;
    margin-bottom:10px;
    ">wikipedia random articles</a>    

{% for cat in page_obj.object_list %}
    {{forloop.counter}}
    <p style="font-size: 30px;"><a href="{{cat.link}}" target="_blank"><strong>{{cat}}</strong></a></p>
    <ul>
        {% for post in cat.news_set.all %}
            <p><a href="{{ post.link }}" target="_blank">{{ post }}</a>
            {% if request.user.is_authenticated %}
            <a href="hide/{{ post.pk }}" style="font-size:14px;color: grey;">del</a>
            {% endif %} 
        {% endfor %}
        <p><a href="{{cat.get_absolute_url}}">More</a></>
    </ul>
{% endfor %}
    
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
