{% extends 'news/base.html' %}

{% block content %}
    
    <form action="{% url 'search' %}" method="get">
        {% csrf_token %}
        {% for f in form %}
            {{f}}
        {% endfor %}
        <button type="submit">Search</button>
        <div style="float:right; margin-right:77px;font-size:17px;">
            {% for curr in currency %}
                {{curr}}: {{curr.price}} RUB<br>
            {% endfor %}
        </div>
    </form>
    
    {% for news in news_list %}
        <p style="font-size: 30px;"><a href="{{ news.0.cat.link}}" target="_blank"><strong>{{ news.0.cat}}</strong> </a></p>
        <ul>
        {% for post in news %}
            <p><a href="{{ post.link }}" target="_blank">{{ post }}</a></p>
        {% endfor %}
        <a href="{{ news.0.cat.get_absolute_url }}">More</a>
    </ul>
    {% endfor %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
